body {
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-in;
    margin:0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body.fade-out {
  animation: fadeOut 1s ease-out forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.mobile{
    width: 320px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px rgba(30, 49, 119, 0.376);
    border-radius: 30px;
     overflow: hidden;
     flex-direction: column;
     display: flex;
}

.header{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.279);
    margin-left: 20px;
        margin-right: 20px;
}

.header img{
    border-radius: 10px;
}

.header h1{
    font-size: 17px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 400;
    margin-left: 30px;
    margin-top: -10px;
}

.header h6 {
    margin-top: 20px;
margin-left:-80px;
font-family: "Lato", sans-serif;
  font-weight: 400;
}




.apartado1:hover{
    background-color: rgba(218, 218, 218, 0.63);
}



h2{
    margin-left: 15px;
    font-size: 16px;
        font-family: "Stack Sans Headline", sans-serif;
}

#flecha1{
    margin-left: 100px;
}

a{
    text-decoration: none;
    color:black;
}


.apartado2:hover{
    background-color: rgba(218, 218, 218, 0.63);
}


#flecha2{
    margin-left: 125px;
}

.apartado3, .apartado1, .apartado2, .apartado4{
    display: flex;
    width: 100%;
    align-items: center;
    height: 6vh;
       padding: 10px 0px;
}

.apartado3:hover{
    background-color: rgba(218, 218, 218, 0.63);
}

#icono3, #icono1, #icono2, #icono4{
    background-color: rgba(202, 200, 219, 0.624);
    display:flex;         
    text-align: center;
    align-items: center;      
    justify-content: center;    
    border-radius:5px;
    margin-left: 20px;
    font-size: 20px;
    height: 40px;
    width: 40px;
}

#flecha3{
    margin-left: 107px;
}

.apartado4:hover{
    background-color: rgba(218, 218, 218, 0.63);
}

#flecha4{
    margin-left: 137px;
}

.navbar-down{
width: 100%;
height: 10vh;
border-top: 1px solid black;
text-align: center;
display: inline-flex;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
gap: 20px;
 margin-top: auto;
}

.navbar-down i{
    padding: 10px 10px;
}

.navbar-down i:hover {
    background-color: rgba(200, 199, 199, 0.526);
    border-radius: 30px;
}


/*MESSAGES.HTML*/


.mobile1{
    width: 320px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px rgba(30, 49, 119, 0.376);
    border-radius: 30px;
     overflow: hidden;
     flex-direction:column;
     display: flex;
     margin: 0;
}




.mobile1 h1,h6{
      margin: 0;
}


.header h1{
    margin-left: 20px;

}


.mobile1 h5{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
margin-left: 5px;
top: 100px;
border-radius: 20px;
border: 1px solid black;
margin-right: 30px;
padding: 5px 5px;
background-color: #a7bdde;
animation: message 1s ease;
}
.mobile1 h5:hover{
    background-color: #97afd4;
}

@keyframes message{
    from {
        transform: translateY(1000%);
    }
    to{
        transform: translateY(0%);
    }
}
.mobile1 input{
    margin-top:51vh;
    height:5vh;
    margin-left: 7%;
    margin-right: 7%;
    border: none;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.372);
}
.mobile1 input:hover{
    background-color: rgb(226, 226, 226);
}

.mobile1 input::placeholder{
    font-size: 13px;
left: 20px;
}

/*NOTIFICATIONS PANEL*/

.header2{
     display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.279);
    margin-left: 20px;
    margin-right: 20px;
      text-align: center;
}

.header2 h1{
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 30px;
  text-align: center;
}

.mobile2{
      width: 320px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px rgba(30, 49, 119, 0.376);
    border-radius: 30px;
     overflow: hidden;
     flex-direction: column;
     display: inline-block;
}
#button1{
    width:60px;
    margin-top: 20px;
  padding: 5px 10px;
  margin-left: 20px;
  border: 0;
  color:#0000FF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #0000FF;
    gap:10px
}
#button2{
    width:60px;
    margin-top: 20px;
  padding: 5px 10px;
  margin-left: 10px;
  border: 0;
  color:#0000FF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #0000FF;
}

